body {
    --accent-color-1: #51a5ff;
    --accent-color-2: #90bdc0;
    --accent-color-3: #c592ee;

    background-color: #fff;
}

#main {
    background-color: #fdfdfd;
}

a {
    color: var(--accent-color-2);
}

a:hover {
    color: var(--accent-color-1);
}

#header {
    /*background-color: #000;*/
    padding-top: 3em;
    padding-bottom: 1em;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#logo {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url("../img/fox/0.png");
    cursor: pointer;
}

#name {
    color: #4b4b4b;
}

footer {
    background-color: #252525;
    color: #c9c9c9;
    padding: 1em;
}

footer i {
    font-size: x-large;
    margin-left: .5em;
    margin-right: .5em;
}

footer a {
    color: #575757;
}

footer a:hover {
    color: var(--accent-color-2);
    text-decoration: none;
}

#footer {
    /*background-color: #ff0000;*/
}

#footer .row {
    display: block;
    margin: .5em auto;
}

blockquote {
    color: #7f7f7f;
    font-style: italic;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}