/* All */
body {
    width: 100%;
}

/* Classes */
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

/* Header */
header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

/* main */
#main {
    color: #f9f9f9;
    font-family: "Karla", sans-serif;
    background-image: url("../img/city.jpeg");
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}

/* links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #B40226;
}

/* Footer */
footer {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: medium;
    color: #c7c7c7;
    background: #000000;
    padding: 4em;
}

#footer-left, #footer-center, #footer-right {
    margin: 1em;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}

footer .row {
    margin: .5em;
}

.col {
    display: inline-block;
}

.row {
    display: block;
}

.clickable {
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}

.switch input {
    opacity: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    background-color: rgba(24, 24, 24, 0.19);
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.25em;
    bottom: 0.25em;
    border-radius: 50%;
    background-color: #f7f7f7;
    transition: all 200ms ease-in-out;
}

input:checked + .switch-slider {
    background-color: #4a65e5;
}

input:checked + .switch-slider:before {
    transform: translateX(1.5em);
}

footer {
    display: none;
}

/* Display */
@media screen and (min-width: 1000px) {

    #main {
        padding: 4em 20em;
    }

    footer {
        display: block;
    }
}

@media print {

    body {
        display: none;
    }
}
